<ng-container *ngIf="parkingData.length > 0; else noParking">
  <div class="list">
    <h1>Parking meters list:</h1>
    <mat-card *ngFor="let parking of parkingData" [routerLink]="['./', parking.id]">
      <mat-card-title>{{ parking.address }}</mat-card-title>
      <mat-card-subtitle>id = {{ parking.id }}</mat-card-subtitle>
    </mat-card>
  </div>
</ng-container>
<ng-template #noParking>
  <div class="list">
    <h2>No parking meters</h2>
  </div>
</ng-template>
<div class="add">
  <button mat-raised-button [routerLink]="['./', getNewId()]">
    <mat-icon>add</mat-icon>
    <span>Add new parking meter</span>
  </button>
</div>
